apiVersion: v1 # Kubernetes API version
kind: Service # Kubernetes resource kind we are creating
metadata: # Metadata of the resource kind we are creating
  name: inventory-management-system
spec:
  type: NodePort
  selector:
    app: inventory-management-system
  ports:
    - protocol: "TCP"
      port: 8001 # The port that the service is running on in the cluster
      targetPort: 8001 # The port exposed by the service
---
apiVersion: apps/v1
kind: Deployment # Kubernetes resource kind we are creating
metadata:
  name: inventory-management-system
spec:
  selector:
    matchLabels:
      app: inventory-management-system
  replicas: 1 # Number of replicas that will be created for this deployment
  template:
    metadata:
      labels:
        app: inventory-management-system
    spec:
      containers:
        - name: inventory-management-system
          image: ap0l0d0r/inventory-management-system:1.0.0 # Image that will be used to containers in the cluster
          imagePullPolicy: Always
          ports:
            - containerPort: 8001 # The port that the container is running on in the cluster
          env:
            - name: MY_ENCRYPTION_KEY
              valueFrom:
                configMapKeyRef:
                  name: my-services-secret
                  key: MY_ENCRYPTION_KEY
      imagePullSecrets:
        - name: inventorymanagementsystem